/*
De casa grupo de el elemento, el que ocupe la 3raposicion sera afectado
elemento:nth-child(3)*/

tbody tr:nth-child(even){
    background-color:darkcyan;
}

tbody tr:nth-child(odd){
    background-color:coral;
}

nav li{
    display: inline-block;
}

.nav-link{
    text-decoration: none;
    font-family: sans-serif;
    margin-right: 10px;
    color: darkgoldenrod;
}

.nav-link.active{
    font-style: italic;
}

/*El primer hermano P de H3*/
h3+p{
    color: darkseagreen;
}

article:not(.agotado){
width: 300px;
box-shadow: 0px 0px 8px darkseagreen;
}

article :not(h4){
    font-style: italic;
}


@font-face {
    font-family: 'FontFascinate';
    src: url('../FuentesGlobal/Fascinate-Regular.ttf');
}

section h2 { 
    font-family: 'FontFascinate';
    color:crimson;
}



@font-face {
    font-family: 'FontItim';
    src: url('../FuentesGlobal/Itim-Regular.ttf');
}

section h3 { 
    font-family: 'FontItim';
    color: darkolivegreen;
}

a {
    background-color: rgb(78, 144, 219);
    color: rgb(10, 5, 5);
    text-decoration: none;
    padding: 8px;
    border-radius: 6px;
    font-family: "FontItim"
}

a:hover {
    background-color: rgb(107, 230, 26);
    color: #000;
    border: 1px solid rgb(192, 230, 26);
}

 .baack {
    background: radial-gradient(red, yellow, rgb(30, 144, 255));
}