* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.container {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

.container:before {
  background-image: url(../Homework/img/image-hero-desktop.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  content: "";
  top: 0;
  right: 0;
  left: 0px;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.navegacion {
  align-items: center;
  justify-content: space-between;
  display: flex;
  justify-items: center;
  margin: 40px;
}

.menu {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.menu .nav_item {
  margin: 15px;
  margin-right: 120px;
}

a {
  color: rgb(243, 243, 243);
  font-weight: bold;
  text-decoration: none;
}


.cuerpo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido {
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 400px;
  width: 1000px;
  margin-bottom: 50px;
  border-radius: 15px;
  background-color: rgb(13, 15, 15);
  border: 1px solid rgba(213, 216, 11, 0.813);
  
}
