body{
    background-color: darkslateblue;
    color: rgb(149, 207, 224);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: 100;
    text-align: center;
}

.parrafo1{
    text-align: center;
    line-height: 30px;
}

.btn1{
    text-align: center;
}

.article1{
    text-align: center;
}

.tachado{
    text-decoration:line-through  rgb(200, 206, 200);
}


a{
    text-decoration: none;
}